<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="de.jpwinkler.daf.dafcore.model.csv"
            class="de.jpwinkler.daf.dafcore.model.csv.CSVPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="de.jpwinkler.daf.dafcore.model.common"
            class="de.jpwinkler.daf.dafcore.model.common.CommonPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
